#Titulo {

    color: white;
}

header {
    background-color: white;
    display: flex;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: orange;
}

@media (max-width:703px) {
    header {
        flex-direction: column;
    }
    nav{
        padding: 10px;
    }
}



#logo {

    display: flex;
    height: 100px;

}

p {
    color: white;
}

body {
    background-color: orange;
}


h1 {
    color: orange;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

form {

    color: white;
}